/*-- scss:defaults --*/

// Header
$primary: #0b7260 !default;
$navbar-fg: #E9E3DF !default;

// Body Stuff
$body-bg: #232533 !default;
$body-color: #E9E3DF !default;
$link-color: #E9E3DF !default;
$headings-font-weight: 9000 !default;
$headings-color: #E9E3DF !default;
